@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,600&display=swap');

body
{
	background: black;
	color:white;
	text-align: center;
	font-family: Montserrat;
	font-size: 10vw;
	text-transform: uppercase;
	overflow: hidden;
}
.videoBG
{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;

	animation: fadeIn 1s 0.5s backwards;
}
#videoBackground
{
	object-fit: contain;
}
.textContainer
{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.textTitle
{
	animation: fadeIn 1s 0.7s backwards;
}
.textSubtitle
{
	font-size:0.2em;
	font-style: italic;
	letter-spacing: 1.5vw;

	animation: fadeIn 1s 0.9s backwards;
}

@keyframes fadeIn
{
    from
	{
		filter:opacity(0);
		transform: scale(1.2, 1.2);
	}
	to
	{
		filter:opacity(1);
	}
}